<%= render './shared/banner' %>
<%= render './shared/search_bar' %>

<div class="cards-container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="card-container col-xm-12 col-md-6 col-lg-4 ">
          <%= link_to cocktail_path(cocktail), class:"card-category" do %>
            <div><%= cocktail.name %></div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>




<%= link_to "Add a new cocktail", new_cocktail_path %>
