<%= render './shared/banner', banner_url: cl_image_path(@cocktail.photo.key), title: @cocktail.name, description: "Super Cocktail mon ami" %>

<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>

Liste des ingrédients :
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> de <%= dose.ingredient.name %> <%= link_to "delete", dose_path(dose), method: :delete %></li>
  <% end %>
</ul>

<%= link_to "Back to cocktails list", cocktails_path %>

<%= render partial: "doses/new", cocktail: @cocktail, dose: @dose %>
